<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>
 
<p>
  <strong>Graveyard:</strong>
  <%= @zombie.graveyard %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @zombie.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @zombie.latitude %>
</p>